# Owner of the SAMJ IntelliJ Project
samj/* @SAMJ-CSDC26BB/developers
# Add further CODEOWNER if neeeded, for more info: 
# https://docs.github.com/de/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
