.root {
    -fx-font-family: "Arial";
    -fx-base: #eeeeee;
}

.sign-button {
    -fx-background-color: #0077cc;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: grey;
}

.test {
    overflow-x: hidden;
}